* {
    margin: 0px;
}

#canvas1 {
    position: absolute;
    border: none;
    background-color: rgb(4, 244, 4);
}

body {
    display: flex;
    background-color: grey;
    flex-direction: row;
    justify-content: center;
}